.idea/*
sites/*/settings.local.php
tmp/
vendor/*
!vendor/.gitkeep
web/vendor/*
!web/vendor/.gitkeep
web/core/*
!web/core/.gitkeep
web/modules/contrib/*
web/web/modules/contrib/*
web/web/core/modules/*
.DS_Store
web/web/*
