$border-color: $black;
$section-spacing-sm: 15px;
$section-spacing-lg: 30px;

.page-node-type-career {
  .page-title {
    margin-bottom: $section-spacing-sm;
  }

  @media #{$tablet} {
    .page-title {
      margin-bottom: $section-spacing-lg;
    }
  }
}

.career-stats-top, .career-stats-bottom {
  [class*="stat-col"] {
    padding: 15px;
  }

  @media #{$tablet} {

    [class*="stat-col"] {
      padding: 30px;
    }

    .stat-col-2, .stat-col-4 {
      border-left: 1px solid $border-color;
    }
  }
}

.career-infographic [class*="col-"] {
  padding: 15px;
}

@media #{$tablet} {

  .career-infographic [class*="col-"] {
    padding: 30px;
  }
  .career-stats-top + .career-infographic {
    border-top: 1px solid $border-color;
  }

  .career-infographic + .career-stats-bottom {
    border-top: 1px solid $border-color;
  }

  .career-stats-top + .career-stats-bottom {
    border-top: 1px solid $border-color;
  }
}

.career.teaser {
  border-bottom: 1px solid $black;
  padding: 30px;

  .teaser-title {
    margin-bottom: 15px;
  }
  .edu-requirement {
    margin-bottom: 15px;
  }

  .career-teaser-stat {
    margin-bottom: 15px;
  }
}