/*.view-directory {*/
#views-exposed-form-directory-page-1 {
  margin: 3rem 0 1rem ;
  text-align: center;
  .form-item {
    float: none;
    /*margin: 0 1rem 0 0;*/
    margin: 0;
    label {
      color: #000000;
      font-size: 1.25rem;
      letter-spacing: 0.03em;
      margin-right: 1rem;
      text-transform: uppercase;
    }
    &.form-item-attribute-2 {
      background-color: #CED2D5;
      padding: 2rem 0 2rem 3rem;
      border-radius: 1rem 0 0 1rem ;
      max-width: 100%;
    }
    &.form-item-attribute-3 {
      background-color: #CED2D5;
      padding: 2rem 3rem;
      /*border-radius: 1rem;*/
      max-width: 100%;
      margin-left: -4px;
    }
    &.form-item-attribute-1 {
      background-color: #CED2D5;
      padding: 2rem 3rem 2rem 0;
      border-radius: 0 1rem 1rem 0;
      max-width: 100%;
      margin-left: -5px;
    }
  }
  .btn {
    border: none;
    font-size: 1.25rem;
    min-width: 100px;
    padding: 1rem 2rem;
    margin: 2rem 0 0;
    &#edit-reset {
      background-color: $dark-gray;
      min-width: 100px;
      margin-left: 1rem;
    }
  }
}
.view-header {
  .staffing-chart {
    text-align: center;
  }
}