$section-spacing-sm: 30px;
$section-spacing-lg: 60px;

.page-node-type-event {
  .page-title {
    margin-bottom: $section-spacing-sm;
  }

  @media #{$tablet} {
    .page-title {
      margin-bottom: $section-spacing-lg;
    }
  }
}

.event-data {
  border-bottom: 1px solid $black;
  border-top: 1px solid $black;
  margin-bottom: $section-spacing-sm;
  padding: 15px 0;

  @media #{$tablet} {
    margin-bottom: $section-spacing-lg;
  }
}


// Event teaser
.event.column-teaser, .event.teaser {
  .date {
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    padding-right: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 55px;
    vertical-align: top;

    .date-number {
      font-size: em(32);
    }
  }

  .content {
    border-left: 2px solid $black;
    display: inline-block;
    padding-left: 30px;
    width: calc(100% - 60px);

    .field--name-field-description {
      margin-bottom: 15px;
    }
  }
}

.event.teaser {
  .content {
    width: calc(100% - 165px);
  }
  .event-buttons {
    display: inline-block;
    width: 100px;
    vertical-align: top;
  }
}

// Events view
.view-id-events_search {
  .view-content {
    .views-row {
      border-bottom: 1px solid $black;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }

  &.view-display-id-attachment_1 {
    .view-content {
      .views-row {
        border-bottom: none;
        padding: 10px;
      }
    }
  }
}