.node--type-landing_page {
  padding: 0;
}

.page-node-type-landing-page .footer{
  margin-top: 0 !important;
}


.landing-page {
  section {
    padding: 3rem 0;
  }

  .lp-masthead {
    background-color: $offwhite;
    padding: 0 0 2rem;
  }

  .lp-policies {
    padding: 1rem 0;
    background-color: $medium-green;

    .btn {
      font-weight: 300;
      text-transform: none;
      font-size: 2rem;
    }
  }

  .lp-events {
    background-color: $light-gray;
  }

  .col-no-padding {
    padding: 0;
  }

  .news-header {
    background: $medium-green;

    h2 {
      color: $white;
    }
  }

  .news-grid {
    .views-row {
      img {
        width: 100%;
      }
    }
  }

  h2.block-title {
    margin: 0 0 3rem;
  }
  .block {
    ul {
      margin-top: 2rem;
      margin-left: 0.5rem;
      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}