$section-spacing-sm: 30px;
$section-spacing-lg: 60px;

section.program {
  padding: $section-spacing-sm 0;

  @media #{$tablet} {
    padding: $section-spacing-lg 0;
  }
}

.program {

  .program-header {
    padding-bottom: 30px;
    text-align: center;
  }

  .field--name-field-program-image {
    border-radius: 8px;
    margin-bottom: $section-spacing-sm;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .apply-row {
    margin-top: $section-spacing-sm;
    max-width: 400px;
  }

  .stats-row {
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;

    .paragraph--type--statistic {
      padding: 15px 0;
    }
  }

  @media #{$tablet} {

    .program-header {
      padding-bottom: $section-spacing-lg;
    }

    .field--name-field-program-image {
      margin-bottom: 0;
      width: calc(100% - 10px);
    }

    .program-info-row {
      margin-bottom: $section-spacing-lg;
    }
  }
}

.program-stats-wrapper {
  background: linear-gradient($transparent-black, $transparent-black), url('/sites/default/files/banner_images/program_stats.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  .paragraph--type--statistic-with-icon {
    padding: 15px 0;
  }

  .field--name-field-icon-image {
    margin-bottom: 20px;
    img {
      margin: 0 auto;
    }
  }

  .section-title {
    color: $white;
    text-align: center;
  }

  .stat-title {
    color: $white;
  }

  .field {
    color: $white;
  }

  @media #{$tablet} {

    .paragraph--type--statistic-with-icon {
      padding: 0;
    }
  }
}

.required-classes {
  border-top: 1px solid $black;

  .section-title {
    margin-top: $section-spacing-sm;
  }

  @media #{$tablet} {
    .section-title {
      margin-top: $section-spacing-lg;
    }
  }
}