.program {

  .program-header {
    padding: 30px 0;
    text-align: center;
  }

  .field--name-field-program-image {
    border-radius: 8px;
    margin-bottom: 30px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .program-info-row {
    margin-bottom: 30px;
  }

  .stats-row {
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;

    .paragraph--type--statistic {
      padding: 15px 0;
    }
  }

  @media #{$tablet} {

    .program-header {
      padding: 60px 0;
    }
    .field--name-field-program-image {
      margin-bottom: 0;
      width: calc(100% - 10px);
    }

    .program-info-row {
      margin-bottom: 60px;
    }

    .stats-row {
      margin-bottom: 60px;
    }
  }
}

.program-stats-wrapper {
  background-color: $transparent-black;
  padding: 30px 0;
  text-align: center;

  .paragraph--type--statistic-with-icon {
    padding: 15px 0;
  }

  .field--name-field-icon-image {
    margin-bottom: 20px;
    img {
      margin: 0 auto;
    }
  }

  .section-title {
    color: $white;
    text-align: center;
  }

  .stat-title {
    color: $white;
  }

  .field {
    color: $white;
  }

  @media #{$tablet} {
    padding: 60px 0;

    .paragraph--type--statistic-with-icon {
      padding: 0;
    }
  }
}