.btn, .btn-primary {
  background-color: $green;
  border-color: $green;
  color: $white;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;

  &.btn-orange,
  &.btn-orange:visited {
    background-color: $dark-orange;
    border-color: $dark-orange;

    &:hover,
      &:focus {
      background-color: darken($dark-orange, 5);
      background-color: darken($dark-orange, 5);
    }
  }

  > a {
    color: $white;

    &:hover,
      &:focus {
      border-color: $green;
      text-decoration: none;
    }
  }

  &.btn-large {
    font-size: 1em;
  }

  &:hover,
    &:focus {
    border-color: darken($green, 5);
    background-color: darken($green, 5);
    color: $white;
  }

  &-outline {
    background-color: transparent;
    border-color: $gray;
    border-width: 2px;
    color: $gray;

    > a {
      color: $gray;
    }

    &:hover {
      background-color: $gray;
      border-color: $gray;
      color: $white;
    }
  }

  &-large {
    padding: 10px 20px;
  }

  &-full {
    display: block;
    width: 100%;
  }

  &-white {
    background-color: transparent;
    border-color: $white;
    border-width: 2px;
    color: $white;

    > a {
      color: $white;

      &:hover {
        color: $black;
      }
    }

    &:hover {
      background-color: $white;
      color: $black;

    }
  }
}

.more-link {
  .btn-outline,
  .padding-lr-20 {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 3px;
    @media #{$tablet} {
      padding: 6px 12px;
      margin-top: auto;
    }
    @media #{$normal} {
      padding: 6px 20px;
      margin-top: auto;
    }
  } 
}
.view-events {
  .btn {
    
  }
}