.btn {
  background-color: $green;
  border-color: $green;
  color: $white;

  &:hover {
    background-color: $green;
  }

  &-outline {
    background-color: transparent;
    border-color: $black;
    border-width: 2px;
    color: $black;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &-large {
    padding: 10px 20px;
  }

  &-full {
    display: block;
    width: 100%;
  }

  &-white {
    background-color: transparent;
    border-color: $white;
    border-width: 2px;
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}