body {
  font-family: $open-sans;
  font-size: 16px;
}

// Headers
h1, h2, h3, h4, h5 {
  color: $header-gray;
  font-family: $helvetica;
  margin-top: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h3.section-title {
  font-size: rem(30);
  margin-bottom: 30px;

  @media #{$tablet} {
    margin-bottom: 60px;
  }
}

h4 {
  font-size: 1.2em;
}

h4.stat-title {
  color: $black;
  font-size: rem(16);
  font-weight: 500;
  margin-bottom: 0;
}

.section-title, .course-title {
  text-align: center;
}

p {
  color: $body-gray;
}

a {

  &:hover {
    background-color: transparent;
    color: $hover-color;
  }
}

.stat .field--name-field-data {
  font-size: em(24);
  font-weight: 600;
}