// Default colors
$white: #FFFFFF;
$black: #000000;
$light-gray: #CED2D5;
$gray: #262626;
$dark-gray: #4c4c4c;
$dark-orange: #B75A13;
$transparent-black: rgba(0,0,0,0.7);

// Brand Colors
$green: #19975D;
$light-green: #99C221;
$brand-orange: #E87722;
$brand-gray: #808990;

// Colors array
$colors: (
  'white': $white,
  'black': $black,
  'light-gray': $light-gray,
  'gray': $gray,
  'dark-gray': $dark-gray,
  'dark-orange': $dark-orange,
  'transparent-black': $transparent-black,
  'green': $green,
  'light-green': $light-green,
  'orange': $brand-orange,
  'brand-gray': $brand-gray,
);

// Typography
$header-gray: $brand-gray;
$body-gray: $dark-gray;

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$open-sans: 'Open Sans', sans-serif;

$hover-color: $dark-orange;
