// Default colors
$white: #FFFFFF;
$black: #000000;
$gray: #262626;
$dark-gray: #4c4c4c;
$orange: #B75A13;
$transparent-black: rgba(0,0,0,0.7);

// Brand Colors
$green: #19975D;
$light-green: #99C221;
$orange: #E87722;
$gray: #808990;

// Typography
$header-gray: $gray;
$body-gray: $dark-gray;

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$open-sans: 'Open Sans', sans-serif;

$hover-color: $orange;
