// Default colors
$white: #FFFFFF;
$black: #000000;

// Brand Colors
$green: #19975D;
$light-green: #99C221;
$orange: #E87722;
$gray: #808990;

// Typography
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
