#block-get-started {
  background-color: $transparent-black;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 40px;
  position: absolute;
  right: 0;

  .title {
    color: $white;
    display: inline-block;
    font-size: em(90);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
    vertical-align: middle;

    .small {
      display: block;
      font-size: rem(40);
    }
  }

  .options {
    display: inline-block;
    width: 53%;
    vertical-align: middle;

    .get-started-select {
      font-size: em(20);
      height: 30px;
      margin-bottom: 10px;
      width: 100%;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .actions {
    display: inline-block;
    text-align: right;
    width: 20%;
    vertical-align: middle;

    a.btn-lg {
      font-size: rem(25);
    }

    a:not(.btn) {
      display: block;
      margin-top: 30px;
    }
  }

}

$banner-menu-orange: #ff9000;
$banner-menu-orange-hover: #f27604;
#block-banner-menu {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);


  .menu {

    > li > a {
      @include transition();
      background-color: $banner-menu-orange;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      color: $black;
      margin-bottom: 10px;
      max-width: 160px;
      overflow: hidden;
      padding: 7px 30px 7px 7px;

      svg {
        float: left;
        margin-right: 10px;
        min-height: 40px;
        min-width: 40px;
        vertical-align: middle;
      }

      &:hover {
        @include transition();
        background-color: $banner-menu-orange-hover;
      }
    }
  }
}

// Banner text/header
.banner-text-wrapper {
  margin-top: 5%;

  .breadcrumb {
    background-color: transparent;
    color: $white;
    font-weight: 600;

    a {
      color: $white;
      margin-right: 10px;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .banner-title {
    background-color: rgba(255,255,255, 0.3);
    display: inline-block;
    padding: 0 20px;

    h1 {
      font-weight: 800;
    }
  }
}