// Alerts
.alert.teaser {
  margin-bottom: 0;

  .field, svg, i {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }

  .js-close-alert {
    cursor: pointer;
    float: right;
    height: 45px;
    margin-right: 0;
  }
}

#block-get-started {
  background-color: $transparent-black;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 40px;
  position: absolute;
  right: 0;

  .title {
    color: $white;
    display: inline-block;
    font-size: em(90);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
    vertical-align: middle;

    .small {
      display: block;
      font-size: rem(40);
    }
  }

  form {
    display: inline-block;
    width: 73%;
    vertical-align: middle;

    .form-item {
      display: inline-block;
      font-size: em(20);
      height: 30px;
      margin-bottom: 10px;
      width: 80%;

      &:last-of-type {
        margin-bottom: 0;
      }

      .select-wrapper {
        width: 100%;

        select {
          width: 100%;
        }
      }
    }
  }

  .form-actions {
    display: inline-block;
    float: right;
    margin-top: -40px;
    text-align: right;
    width: 19%;
    vertical-align: middle;

    a.btn-lg {
      font-size: rem(25);
    }

    a:not(.btn) {
      display: block;
      margin-top: 30px;
    }
  }

}

$banner-menu-orange: #ff9000;
$banner-menu-orange-hover: #f27604;
#block-banner-menu {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);


  .menu {

    > li > a {
      @include transition();
      background-color: $banner-menu-orange;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      color: $black;
      margin-bottom: 10px;
      max-width: 160px;
      overflow: hidden;
      padding: 7px 30px 7px 7px;

      svg {
        float: left;
        margin-right: 10px;
        min-height: 40px;
        min-width: 40px;
        vertical-align: middle;
      }

      &:hover {
        @include transition();
        background-color: $banner-menu-orange-hover;
      }
    }
  }
}

// Banner text/header
.banner-text-wrapper {
  margin-top: 5%;

  .breadcrumb {
    background-color: transparent;
    color: $white;
    font-weight: 600;

    a {
      color: $white;
      margin-right: 10px;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .banner-title {
    display: inline-block;
    padding: 0 20px;

  }
}

// Homepage views
.view-id-homepage {
  &.view-display-id-homepage_news {
    margin-right: 10%;

    .new-article {
      position: relative;
    }

    .content {
      background-color: $green;
      border-radius: 10px;
      padding: 20px 20px 20px 30%;
      margin: 20px 0;
      margin-left: 50px;

      a .news-teaser-title {
        color: $white;
        margin-bottom: 40px;
      }

      .news-teaser-date,
      .news-teaser-author {
        color: $white;
      }

      .news-teaser-date {
        float: left;
        margin-right: 10px;
      }
    }
    .field--name-field-news-thumbnail {
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30%;
    }
  }

  &.view-display-id-homepage_events {
    margin-left: 10%;

    .event {
      margin: 20px 0 40px;
    }

    .field--name-field-event-location,
    .event-time {
      display: none;
    }

    .view-more {
      margin-top: 10px;

      a {
        display: inline-block;
        width: auto;
      }
    }
  }
}

// Circle infographic
.circular-chart {
  display: block;
  height: auto;
  margin: 10px auto;
  width: 140px;

  .circle {
    stroke: $light-green;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: square;
    animation: progress 1s ease-out forwards;
  }

  .circle-bg {
    fill: $green;
  }

  .percentage {
    fill: $white;
    font-size: 0.5em;
    font-weight: 800;
    text-anchor: middle;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.block--type-text-with-image {
  .field--name-field-image {
    img {
      width: 100%;
    }
  }
}

// quote slideshow
.slick {
  .slick-next, .slick-prev {
    font-size: inherit;
    width: 70px;

    &::before {
      content: none;
    }

    svg {
      color: $white;
      font-size: 5em;
      height: auto;
    }
  }
}
.slick--view--quotes-slideshow {

  .quote.teaser {
    .content {
      background-size: cover!important;
      background-position: 50% 50%!important;
      min-height: 550px;

      .quote-wrapper {
        background-color: $transparent-black;
        bottom: 0;
        color: white;
        padding: 30px;
        position: absolute;

        p {
          color: $white;
          line-height: 1.2;
        }

        .large {
          font-size: em(18);
          font-weight: 600;
        }

      }
    }
  }

  @media #{$tablet} {
    .quote.teaser {
      .content {
        .quote-wrapper {
          bottom: auto;
          max-width: 50%;
          padding: 60px;
          padding-right: 100px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          .large {
            font-size: em(25);
          }
        }
      }
    }
  }
}

// Sidebar link paragraph
.paragraph--type--sidebar-links {
  .field--item {
    a {
      display: block;
      margin-bottom: 2px;
      padding: 10px 15px;
      width: 100%;
    }
  }
}

.sidebar .menu {
  a {
    font-size: rem(18);
  }

  .menu {
    li {
      padding: 5px 0;

      a {
        font-size: rem(16);
      }
    }

    .menu {
      a {
        font-size: rem(14);
      }
    }
  }
  .active {
    > a {
      color: $black;
      font-weight: 600;

      &:hover {
        color: $dark-orange;
      }
    }
  }
}
