<div class="landing-page about">
    <section class="lp-masthead">
        <div class="container">
            <div class="row">
                <div class="cta flex-view">
                    {{ content.masthead }}
                </div>
            </div>
        </div>
    </section>
    <section class="lp-locations">
        <div class="container-fluid">
            <div class="row">
                {{ content.locations }}
            </div>
        </div>
    </section>
    <section class="lp-about">
        <div class="container">
            <div class="row">
                <div class="cta flex-view">   
                    {{ content.about }}
                </div>
            </div>
        </div>
    </section>
    <section class="lp-related-links">
        <div class="container">
            <div class="row">
                {{ content.related }}
            </div>
        </div>
    </section>
</div>