<div class="landing-page choose">

  <section class="choose-explore">
    <div class="container">
      <div class="row">
          {{ content.explore }}
      </div>
    </div>
  </section>

  <section class="lp-masthead">
    <div class="container">
      <div class="row">
        <div class="cta flex-view">
            {{ content.masthead }}
        </div>
      </div>
    </div>
  </section>

  <section class="lp-where">
    <div class="container">
      <div class="row">
        <div class="cta flex-view">
            {{ content.education }}
        </div>
      </div>
    </div>
  </section>

  <section class="lp-get-started">
    <div class="container">
      <div class="row">
        <div class="cta flex-view">
            {{ content.getstarted }}
        </div>
      </div>
    </div>
  </section>

</div>