{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--onecol-sidebar',
  ]
%}
<div class="container">
  <div class="row">
    {% if content %}
      <div{{ attributes.addClass(classes) }}>

        <div class="layout__region layout__region--sidebar">
          <div class="col-sm-3 sidebar">
            {{ content.sidebar }}
          </div>
        </div>
        <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
          <div class="col-sm-9">
            {{ content.content }}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>