/**
 * Alert styling.
 */
.alert-sm {
  padding: 5px 10px;
}

// Treat all links inside alert as .alert-link
.alert {
  .container {
    position: relative;
  }
  a {
    font-weight: $alert-link-font-weight;
  }
  .btn {
    margin: 2rem 0 0;
  }
  .js-close-alert {
    position: absolute;
    right: 2rem;
    top: -1rem;
  }
  &.teaser {
    margin-bottom: 0;
    .fa-exclamation-circle {
      float: left;
    }
    .field, svg, i {
      margin-right: 15px;
      vertical-align: top;
    }
    .svg,
    i {
      display: inline-block;
    }
    .js-close-alert {
      color: #262626;

      svg {
        cursor: pointer;
        float: right;
        height: 45px;
        margin-right: 0;
      }
    }
  }
  .field--name-body {
    display: block;
    @media #{$normal} {
      margin-top: 1rem;
    }
  }
}
.alert-success {
  a, a:hover, a:focus {
    color: darken($alert-success-text, 10%);
  }
}
.alert-info {
  a, a:hover, a:focus {
    color: darken($alert-info-text, 10%);
  }
}
.alert-warning {
  a, a:hover, a:focus {
    color: darken($alert-warning-text, 10%);
  }
}
.alert-danger {
  a, a:hover, a:focus {
    color: darken($alert-danger-text, 10%);
  }
}
