.field--type-text-long {
  figure {
    &.align-right, &.align-left {
      padding: 0 0 2rem 4rem;

      figcaption {
        /*font-size: 1.2rem;*/
        font-size: 15px;
        font-style: italic;
        margin-top: 1rem;
        color: $dark-gray;
      }
    }

  }
}

.stat-subtitle {
  white-space: nowrap;
}
