.field--type-text-long {
  figure {
    &.align-right {
      padding: 0 0 2rem 4rem;

      figcaption {
        font-size: 1.35rem;
        margin-top: 1rem;
        color: $dark-gray;
      }
    }

  }
}

.stat-subtitle {
  white-space: nowrap;
}