.footer {
  background-color: $dark-gray;
  padding: 25px 0 0;

  .footer-bottom {
    background-color: $black;
    padding: 15px 0;

    ul {
      list-style-type: none;
      > li {
        float: left;

        a {
          color: $white;
          padding: 5px 10px;
        }
      }
    }
  }
}

#block-footerinformationalblock {
  p {
    color: $white;
  }

  @media #{$tablet} {
    float: left;
    width: 33%;
  }
}

[id^="block-footercolumn"] {

  ul {
    > li {
      a {
        color: $white;
        padding: 5px 0;

        &:hover {
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }
  @media #{$tablet} {
    float: left;
    width: 22%;
  }
}