.secondary-page-header {
  position: relative;

  .banner {
    background-repeat: no-repeat;
    background-size: cover!important;
    min-height: 400px;
    padding-top: 70px;
  }
}

.path-frontpage .secondary-page-header {
  .banner {
    min-height: 500px;
  }
}