.secondary-page-header {
  position: relative;

  .banner {
    background-position: 0% 50%!important;
    background-size: cover!important;
    min-height: 360px;
    padding-top: 50px;
    position: relative;

    // Banner text/header
    .banner-text-wrapper {
      margin-top: 5%;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 15rem 0 2rem;
      text-shadow: 2px 2px 5px rgba($black, 0.25);
      background: -moz-linear-gradient(bottom, rgba($black, 0.82) 20%, rgba($brand-gray, 0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(bottom, rgba($black, 0.82) 20%,rgba($brand-gray, 0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to top, rgba($black, 0.82) 20%,rgba($brand-gray, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

      .breadcrumb {
        background-color: transparent;
        color: $white;
        font-weight: 300;
        padding-left: 0;

        a {
          color: $light-gray;
          margin-right: 10px;
          text-decoration: underline;

          &:hover {
            color: $brand-orange;
            text-decoration: none;
          }
        }

        span {
          color: $light-gray;
          font-weight: 600;
        }
      }

      .banner-title {
        display: inline-block;
        padding: 0;
        margin: 0;
      }
    }
  }
}



.path-frontpage .secondary-page-header {
  .banner {
    background-position: 0% 50%!important;
    min-height: 650px;
  }
}