/**
 * Navbar styling.
 */

body {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;

  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
    margin-top: ($navbar-height + ($grid-gutter-width / 2));
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: ($navbar-height + ($grid-gutter-width / 2));
  }

  @media #{$tablet} {
    margin-top: ($grid-gutter-width / 2);
  }
  @media #{$mobile} {
    &.toolbar-vertical {
      &.navbar-is-fixed-top,
      &.navbar-is-fixed-bottom {
        .toolbar-bar {
          position: fixed;
        }
        header {
          z-index: 500;
        }
      }
      // Default toolbar fixed height value.
      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
      &.navbar-is-fixed-top header {
        top: 39px;
      }
    }
  }
}

.nav {
  > li {
    > a {
      &:hover {
        background-color: transparent;
      }
    }
  }
}
.navbar.container {
  @media #{$tablet} {
    max-width: (($container-sm - $grid-gutter-width));
  }
  @media #{$normal} {
    max-width: (($container-md - $grid-gutter-width));
  }
  @media #{$wide} {
    max-width: (($container-lg - $grid-gutter-width));
  }
}

// Branding.
.navbar .logo {
  margin-right: -($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  @media #{$grid-breakpoint} {
    margin-right: 0;
    padding-left: 0;
  }
}

// Branding
.logo {
  img {
    width: 283px;

    @media #{$tablet} {
      width: 100px;
    }

    @media #{$normal} {
      width: 200px;
    }

    @media#{$wide} {
      width: 283px;
    }
  }
}

// Menu items
$main-nav-height: 60px;

.menu.main-menu {
  > li {
    > a {
      @include transition();
      color: $black;

      &:hover {
        @include transition();
      }
    }
  }

  @media #{$tablet} {
    margin: 6px 16px;

    > li {
      > a {
        padding-left: 5px;
        padding-right: 0px;

        &:after {
          content: "|";
          display: inline-block;
          margin-left: 5px;
        }

        &:hover {
          background: transparent;
          text-decoration: underline;
        }
      }

      &:last-of-type > a:after {
        content: "";
      }
    }
  }
}

.region-navigation-collapsible {
  .secondary-menu {
    @media #{$tablet} {
      display: none;
    }
  }
}

#secondary-nav {
  background-color: $transparent-black;
  position: absolute;
  width: 100%;

  .secondary-menu {
    display: none;

    @media #{$tablet} {
      align-items: center;
      display: flex;
      justify-content: space-around;
      width: 100%;

      > li {
        flex-basis: 14%;

        a {
          color: $white;
        }

        &:first-of-type a {
          padding-left: 0;
        }

        &:last-of-type a {
          padding-right: 0;
        }
      }
    }
  }
}

// Toggle button
.navbar-toggle {
  padding: 14px 10px;

  .icon-bar {
    background-color: $black;
  }
}

.page-header-wrapper {
  background-color: $green;

  nav {
    ul {
      > li {
        display: inline-block;

        a {
          color: $white;
          display: inline-block;
        }

        &.active {
          background-color: $white;

          a {
            color: $black;
          }
        }
      }

      &.second-tier {
        display: inline-block;

        li {
          background-color: $white;

          a {
            color: $black;
          }
        }
      }
    }
  }
}
