.sidebar {
  .menu {
    margin: 0;
    padding: 0;
    padding-right: 0.5rem;

    li {
      margin: 0;
      padding: 0;

      a,
      a:visited {
        padding: 0;
        color: $gray;

        &:hover,
          &:focus {
          color: $brand-orange;
        }
      }

      > ul {
        margin-top: 1rem;

        li {

          a {
            font-weight: 400;
          }
        }

        > li > ul > li > ul { // 4th level menu
                              margin-left: 18px;
        }
      }
    }
    ._017-2018-college-catalog-a {
      border-bottom: 1px solid #C1C1C1;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
    @media #{$tablet} {
      ._017-2018-college-catalog-a {
        border-bottom: none;
        margin-bottom: auto;
        padding-bottom: auto;
      }
    }
  }
}
