table {
  width: 100%;

  th, td {
    border-left: 1px solid $white;
    padding: 1rem 1.25rem;

    &:first-of-type {
      border: none;
    }
  }

  th {
    background-color: $green;
    color: $white;
  }

  tr {
    &:nth-of-type(2n) {
      background-color: lighten($light-gray, 10);
    }
  }
  // nested table
  table > tbody > tr:nth-of-type(2n) {
    background-color: transparent;
  }
}