table {
  width: 100%;

  th, td {
    padding: 1.25rem;

    &:first-of-type {
      border: none;
    }
  }

  th {
    background-color: $green;
    border-left: 2px solid darken($green, 5);
    color: $white;
  }

  tr {
    &:nth-of-type(2n) {
      background-color: lighten($brand-gray, 42);
    }

    td {
      color: $gray;
      border-left: 2px solid lighten($brand-gray, 35);
    }
  }
  // nested table
  table > tbody > tr:nth-of-type(2n) {
    background-color: transparent;
  }
}