table {
  width: 100%;

  th, td {
    border-left: 1px solid $white;
    padding: 5px;

    &:first-of-type {
      border: none;
    }
  }

  th {
    background-color: $green;
  }

  tr {
    &:nth-of-type(2n) {
      background-color: $light-gray;
    }
  }
  // nested table
  table > tbody > tr:nth-of-type(2n) {
    background-color: transparent;
  }
}